
body {
	font-family: Arial, sans-serif;
}


/* Checkbox */

input[type="checkbox"] {
	width: 16px;
	height: 16px;
	border: 2px solid #ccc;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
}

/* Toolbar */

.toolbar {
	display: flex;
	align-items: center;
	align-content: center;
	margin-bottom: 1rem;
	gap: 2rem;
	font-size: 1.5rem;
}

.toolbar div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.toolbar button {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.5rem;
	padding: .25rem 1rem;
}

.toolbar button:hover {
	background-color: #f0f0f0;
	border-radius: 4px;
	cursor: pointer;
}

/* Table */

.fileSelectorTable {
	inline-size: 100%;
	border-collapse: collapse;
}

.fileSelectorTable td, .fileSelectorTable th {
	padding-block: 12px;
	padding-inline: 24px;
	text-align: start;
	border-block-end: 1px solid #e0e0e0;
}

.fileSelectorTable th {
	text-align: left;
}

.fileSelectorTable td:first-child, .fileSelectorTable th:first-child {
    flex: 0 0 auto; /* For checkbox column */
}

/* FileRow */

.statusCell {
	text-transform: capitalize;
	align-items: center;
	gap: 10px;
	position: relative;
}

.statusCell:is(.statusAvailable):before {
	/* position the green dot before the status cell */
	content: '';
	background: #86CE3C;
	border-radius: 50%;
	inline-size: 15px;
	block-size: 15px;
	position: absolute;
	left: 0;
}

/* Screen Reader Only */
.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}